In [2]:
import haversine as hs
import pandas as pd

In [18]:
localizacao = {'Plataforma': ['PORTO DE SANTOS','FPSO CIDADE DE PARATY','FPSO CIDADE DE MARICÁ','FPSO CIDADE DE SÃO PAULO','FPSO CIDADE DE SANTOS','FPSO CIDADE DE ITAGUAÍ'],
               'Latitude': [-23.975999,-25.39348, -25.44787, -25.79843, -24.18360, -25.13999],
               'Longitude': [-46.288895,-42.761260, -42.752990, -43.262620, -42.425094, -42.944170]}
df = pd.DataFrame(localizacao)
df

                 Plataforma   Latitude  Longitude
0           PORTO DE SANTOS -23.975999 -46.288895
1     FPSO CIDADE DE PARATY -25.393480 -42.761260
2     FPSO CIDADE DE MARICÁ -25.447870 -42.752990
3  FPSO CIDADE DE SÃO PAULO -25.798430 -43.262620
4     FPSO CIDADE DE SANTOS -24.183600 -42.425094
5    FPSO CIDADE DE ITAGUAÍ -25.139990 -42.944170

# Calculo de Distancias Lat e Long

In [22]:
rota = []
distancia = []
for i in range(df.shape[0]):
    for j in range(df.shape[0]):
        if i != j:
            rota.append(str(i+1)+'-'+str(j+1))
            distancia.append(hs.haversine((df.loc[i]['Latitude'],df.loc[i]['Longitude']),(df.loc[j]['Latitude'],df.loc[j]['Longitude']),unit=hs.Unit.METERS)/1000)
df_dist = pd.DataFrame({'rota': rota, 'distancia': distancia})
df_dist['custo'] = 20*df_dist['distancia'].values
df_dist

   rota   distancia        custo
0   1-2  389.684986  7793.699716
1   1-3  392.857599  7857.151978
2   1-4  366.375389  7327.507781
3   1-5  392.913923  7858.278458
4   1-6  362.172965  7243.459294
5   2-1  389.684986  7793.699716
6   2-3    6.104663   122.093263
7   2-4   67.493648  1349.872960
8   2-5  138.746605  2774.932097
9   2-6   33.657032   673.140637
10  3-1  392.857599  7857.151978
11  3-2    6.104663   122.093263
12  3-4   64.266729  1285.334570
13  3-5  144.423090  2888.461804
14  3-6   39.261075   785.221493
15  4-1  366.375389  7327.507781
16  4-2   67.493648  1349.872960
17  4-3   64.266729  1285.334570
18  4-5  198.409600  3968.191994
19  4-6   79.890320  1597.806394
20  5-1  392.913923  7858.278458
21  5-2  138.746605  2774.932097
22  5-3  144.423090  2888.461804
23  5-4  198.409600  3968.191994
24  5-6  118.578054  2371.561083
25  6-1  362.172965  7243.459294
26  6-2   33.657032   673.140637
27  6-3   39.261075   785.221493
28  6-4   79.890320  1597.806394
29  6-5  118.578054  2371.561083